$forest-green-palette: (
  50 : #e4f1e4,
  100 : #bddcbd,
  200 : #91c591,
  300 : #64ae64,
  400 : #439c43,
  500 : #228b22,
  600 : #1e831e,
  700 : #197819,
  800 : #146e14,
  900 : #0c5b0c,
  A100 : #90ff90,
  A200 : #5dff5d,
  A400 : #2aff2a,
  A700 : #10ff10,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$firebrick-palete: (
  50 : #f6e4e4,
  100 : #e8bdbd,
  200 : #d99191,
  300 : #c96464,
  400 : #be4343,
  500 : #b22222,
  600 : #ab1e1e,
  700 : #a21919,
  800 : #991414,
  900 : #8a0c0c,
  A100 : #ffb9b9,
  A200 : #ff8686,
  A400 : #ff5353,
  A700 : #ff3a3a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$mango-pallete: (
  50 : #fff7e1,
  100 : #feecb3,
  200 : #fedf81,
  300 : #fed24e,
  400 : #fdc828,
  500 : #fdbe02,
  600 : #fdb802,
  700 : #fcaf01,
  800 : #fca701,
  900 : #fc9901,
  A100 : #ffffff,
  A200 : #fff8ef,
  A400 : #ffe2bc,
  A700 : #ffd6a2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

